@import "fonts";
*{
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;
      font-family: 'Merriweather', serif;
      font-family: 'Raleway', sans-serif;*/
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    margin:0 auto;
    max-width: 1440px;
}
.header{
    padding-top: 26px;
    background-color: #eff0f2;
}
.logo{
    display: inline-block;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.647;
    text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
    outline: 5px solid black;
    border: 1px solid #7d7981;
    padding: 0px 5px 2px 5px;
    margin-left: 10.8%;
    margin-top: 43px;
    letter-spacing: 1.5px;
}
.logo__symbol_o {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #77efe5;
    text-transform: uppercase;
    line-height: 1.647;
    text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
}
.bar{
    display: inline-block;
    float: right;
    font-size: 34px;
    margin-right: 10.6%;
    margin-top: 46px;
    cursor: pointer;
}
.bar:before{
    content: "\f0c9";
    font-family: 'icomoon';
}
.contact__block{
    background-color:#eff0f2;
    padding-bottom: 195px;
}
.hello__shopno,.contact__text{
    // font-size: 45px;
    font-size: 2.935vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 80, 80);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.622;
    text-align: center;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    margin:0;
    letter-spacing: 2px;
}
.hello__shopno span,.contact__text span{
    background-color: #b2f2ee;
}
.hello__shopno{
    padding-top: 202px;
}
.contact__text{
    margin-top:26px;
}
.button__contact{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 2px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.749);
    text-transform: uppercase;
    line-height: 1.556;
    width: 228px;
    height: 53px;
    margin-top: 155px;
    letter-spacing: 2px;
    cursor: pointer;
} 
.image__glass{
    float: right;
    margin-top: 185px;
    margin-right: 17%;
    background: #eff0f2;
}
.block__about_us{
    background-color: #f8fafa;
    padding-bottom: 107px;
}
.header__about_us{
    text-align: center;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;      
    margin:0;
    padding-top:129px;
}
.text_under__about_us{
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 1.556;
    text-align: center;
    margin:0;
    margin-top: 14px;
    letter-spacing: 1.3px;
}
.text_arctile{
    max-width: 474px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.741);
    line-height: 1.75;
}
.first_part{
    margin:0;
    letter-spacing: 0.7px;
    word-spacing: 0.4px;
}
.second_part{
    letter-spacing: 0.7px;
    margin-top: 27px;
}
.third_part{
    margin: 0;
    margin-top: 13px;
    letter-spacing: 0.8px;
}
.four_part{
    margin: 0;
    letter-spacing: 0.8px;
}
.firstHeader_in_arctile{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.749);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;      
    letter-spacing: 1.3px;
} 
.secondHeader_in_arctile{
    font-size: 17px;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.749);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.647;
    margin:0;
    margin-top: 30px;
    letter-spacing: 1.1px;
}
  
.slider__article{
    display: flex;
}
.slider{
    margin-top: 113px;
    margin-left: 16.1%;
    position: relative;
}
.article_slider{
    margin-left: 8.68%;
    margin-top: 117px;
}
.shadow_block__slider{
    background-color: #eff0f2;
    width: 479px;
    top: 60px;
    left: -19px;
    height: 412px;
    position: absolute; 
}
.num-of-slide {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(208, 208, 208);
    width: 11px;
    height: 10px;
    margin-top: 12px;
    margin-left: -1px;
}
.points{
    margin-left: 39.7%;
    margin-top: 2px;
}
.activeNum{
    background-color: #71f6eb;
}
.control{
    position: absolute;
    top:0;
    bottom: 0;
    width: 4%;
    cursor: pointer;
}
.control.left{
    left: 0%;
    right: auto;
}
.control.right{
    left: auto;
    right: 0;
}
.arrow{
    // display: inline-block;
    display: none;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size:28px;
}
.arrow.right{
    right: 50%;
}
.item{
    display: none;
    position: relative;
    margin: 0 auto;
}
.active,.next{
    display: block;
}
.next{
    position: absolute;
    top:0;
    width: 100;
}
.item-conteiner{
    position: relative;
    width: 100%;
}
.to-left{
    animation-name:left ;
}
.to-right{
    animation-name:right; 
    animation-direction: reverse;
}
.from-left{
    animation-name:left;
    animation-direction: reverse;
}
.from-right{
    animation-name:right; 
}
@keyframes left{
    from{
        left:0;
    }
    to{
        left: -100%;
    }
}
@keyframes right{
    from{
        left:100%;
    }
    to{
        left: 0;
    }
}
.feature__header{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;
    text-align: center;   
    margin:0;
    margin-top:131px;
}
.text_under__feature_header{
    font-size: 17px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 1.647;
    text-align: center;   
    margin:0;
    margin-top: 11px;
    letter-spacing: 1.2px;
}
.images__cards{
    margin-top: 114px;
    display: grid;
    grid-template-columns: repeat(3,25.7%);
    grid-template-rows: repeat(2,48.9%);
    grid-gap: 0.7em 1em;
    justify-content: center;
}
.images__cards img{
    width:100%;
    height: auto;
}
.services{
    margin-top: 237px;
}
.services__header{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;
    text-align: center;   
    margin:0;
    letter-spacing: 2px;
}
.text_under__services_header{
    font-size: 17px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 1.647;
    text-align: center;   
    margin:0;
    margin-top: 11px;
    letter-spacing: 1.2px;
}
.six__design{
    margin-top: 119px;
    display: grid;
    grid-template-columns:42.92% 31.2%;
    grid-template-rows:  422px 371px;
    justify-content: center;
    grid-gap: 1em;
}
.last_part-of_design{
    display: grid;
    grid-template-columns: 31.2% 42.92%;
    grid-template-rows: repeat(1, 371px);
    justify-content: center;
    grid-gap: 1em;
    margin-top: 13px;
}
.header__of-design{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgba(255, 255, 255, 0.949);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.45;
    text-align: left;
    margin:0;
    margin-top: 155px;
    margin-left: 65px;
    letter-spacing: 1.2px;
}
.description_desing{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.91);
    line-height: 1.6;
    text-align: left;
    margin:0;
    margin-left: 65px;
    margin-top: 15px;
    letter-spacing: 0.29px;
}
.first-part__of-design{
    background-image: url('../assets/images/first.png');
    min-height: 422px;
}
.second-part__of-design{
    background-image: url('../assets/images/COOL_PSD_DESIGN.png');
    min-height: 422px;
}
.third-part__of-design{
    background-image: url('../assets/images/Designing_is_The_Cool.png');
    min-height: 371px;
}
.four-part__of-design{
    background-image: url('../assets/images/PSD_TO_HTML_KORI.png');
    min-height: 371px;
}
.five-part__of-design{
    background-image: url('../assets/images/cool_psd_Design1.png');
    min-height: 371px;
}
.six-part__of-design{
    background-image: url('../assets/images/DesigningisTheCoolFOR.png');
    min-height: 371px;
}
.first-part__of-design,.second-part__of-design,.third-part__of-design,.four-part__of-design,.five-part__of-design,.six-part__of-design{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first-part__of-design .description_desing{
    max-width: 396px;
}
.third-part__of-design .description_desing{
    max-width: 396px;
}
.six-part__of-design .description_desing{
    max-width: 396px;
}
.second-part__of-design .description_desing{
    max-width: 305px;
}
.four-part__of-design .description_desing{
    max-width: 305px;
}
.five-part__of-design .description_desing{
    max-width: 276px;
}
.first-part__of-design .header__of-design{
    margin-top: 178px;
    margin-left: 66px;
    letter-spacing: 1px;
}
.first-part__of-design .description_desing{
    margin-left: 68px;
    margin-top: 14px;
    letter-spacing: 0.142px;
}
.second-part__of-design .header__of-design{
    margin-top: 178px;
    margin-left: 66px;
    letter-spacing: 1px;
}
.second-part__of-design .description_desing{
    margin-left: 68px;
    margin-top: 14px;
    letter-spacing: 0.142px;
}
.last_part-of_design .header__of-design{
    margin-top: 121px;
    letter-spacing: 1.3px;
}
.last_part-of_design .description_desing{
    letter-spacing: 0.3px;
}
.know_more{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.851);
    text-align: center;
    margin-top: 51px;
    margin-left: 64px;
    cursor: pointer;
}
.know_more::after{
    font-family: 'icomoon';
    content: "\ea3c";
    margin-left: 20px;
    vertical-align: middle;
}
.third-part__of-design .know_more{
    margin-top: 46px;
    margin-left: 69px;
    letter-spacing: 0.3px;
}
.four-part__of-design .know_more{
    margin-top: 46px;
    margin-left: 65px;
}
.last_part-of_design .know_more{
    margin-top: 52px;
    margin-left: 68px;
}
.six-part__of-design .know_more{
    letter-spacing: 0.6px;
}
.click__know-more{
    background: #71f5ea;
    display: none;
}
.click__know-more .header__of-design{
    letter-spacing: 1.4px;
    margin-top: 57px;
    color: rgba(0, 0, 0, 0.831);
}
.click__know-more .description_desing{
    color: rgba(0, 0, 0, 0.749);
    max-width: 470px;
    margin-top: 27px;
    line-height: 1.75;
    letter-spacing: 0.4px;
}
.click__know-more .know_more{
    margin-top: 58px;
    margin-left: 46px;
    font-size: 27px;
    color: rgba(0, 0, 0, 0.749);
}
.click__know-more .know_more::after{
    font-family: 'icomoon';
    content: "\f00d";
}
.click__know-more button:focus {
    outline: none;
}
.first-part__of-design button:focus{
    outline: none;
}
.team_header{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;
    text-align: center;   
    margin:0;
    margin-top: 243px;
    letter-spacing: 1.8px;
}
.team_text{
    font-size: 17px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 1.647;
    text-align: center;   
    margin:0;
    margin-top: 11px;
    letter-spacing: 1.2px;
}
.team_members{
    display: grid;
    grid-template-columns: repeat(3, 25.7%);
    grid-template-rows: repeat(2, 49%);
    grid-gap: 1em;
    justify-content: center;
    margin-top: 112px;
}
.image__info{
    position: relative;
}
.info_member{
   display: none;
    background: #70f6eb;
    width: 90.54%;
    height: 55%;
    position: absolute;
    top: 42%;
    left: 5%;
}
.info_member::after{
    content: ''; 
    position: absolute; 
    left: 22px;
    top: -30px;
    border: 10px solid transparent;
    border-bottom: 20px solid #70f6eb;
}
.image__info:hover{
    .info_member{
        display: block;
    }
}
.header__info-member {
    font-size: 1.302vw;
    font-family: 'Merriweather', serif;
    color: rgba(39, 39, 39, 0.949);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-top: 39px;
    letter-spacing: 1.7px;
}
.header__info-member span{
    font-weight: 400;
    font-style: italic;
    color:#767776;
    font-size: 0.976vw;
}
.text__info-member,.text__info-member-last{
    font-size: 1.041vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    max-width: 244px;
    line-height: 1.4;
    margin: 0;
    margin-left: 11.36%;
    letter-spacing: 0.2px;
    margin-top: 5.97%
}
.text__info-member-last{
    margin-top:0;
}
.facebook::before{
    font-family: 'icomoon'; 
    content: "\f09a";
    color:#434343;
    font-size:0.911vw;
    cursor: pointer;
}
.twitter::before{
    font-family: 'icomoon'; 
    content: "\f099";
    color:#434343;
    font-size:0.911vw;
    margin-left: 10px;
    cursor: pointer;
}
.dribbble::before{
    font-family: 'icomoon'; 
    content: "\eaa7";
    color:#434343;
    font-size:0.911vw;
    margin-left: 9px;
    cursor: pointer;
}
.message::before{
    font-family: 'icomoon'; 
    content: "\f003";
    color:#434343;
    font-size:0.911vw;
    margin-left: 7px;
    cursor: pointer;
}
.networks{
    margin-top: 10.15%;
    margin-left: 11.65%;
}

.networks li{
    display: inline-block;
}
.team_members img{
    width: 100%;
    height: auto;
}
.reviews{
    background: #f9fbfb;
    margin-top: 114px;
    padding-bottom: 136px;
}
.header__reviews{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,0,0,0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;
    text-align: center;
    margin: 0;
    padding-top: 121px;
    letter-spacing: 1.8px;
}
.text__under-header__reviews{
    font-size: 17px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: rgba(0,0,0,0.62);
    text-transform: uppercase;
    line-height: 1.647;
    text-align: center;
    margin: 0;
    margin-top: 11px;
    letter-spacing: 1.2px;
}
.reviews__slider{
    width: 393px;
    height: 362px;
}
//---------------------
.slider__article-reviews{
    display: flex;
}
.slider-reviews{
    margin-top: 128px;
    margin-left: 12.85%;
    position: relative;
}
.shadow_block__slider-reviews{
    background-color: #eff0f2;
    width: 393px;
    top: 23px;
    left: -36px;
    height: 362px;
    position: absolute; 
}
.slide{
    display: none;
    position: relative;
    margin: 0 auto;
}
.active,.next{
    display: block;
}
.activeVisible,.nextName{
    display: block;
}
.next,.nextName{
    position: absolute;
    top:0;
    width: 100;
}
.item-conteiner{
    position: relative;
    width: 100%;
}
.num-of-slide-reviews {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(208, 208, 208);
    width: 11px;
    height: 10px;
    margin-left: -1px;
}
.points-reviews{
    margin-left: 43%;
    margin-top: 37px;
}
.activeImg{
    background-color: #71f6eb;
}
.article_slider-reviews{
    margin-left: 14.2%;
    margin-top: 152px;
    position: relative;
}
.box{
    position: absolute;
    width: 666px;
    height: 362px;
    background: #eff0f2;
    left: -87px;
}
.img-description{
    display: none;
    position: relative;
}
.article__name{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgba(0, 0, 0, 0.949);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin:0;
    margin-top: 94px;
}
.text__about-img{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.688;
    text-align: center;
    max-width: 499px;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    letter-spacing: 0.9px;

}
.article__name span{
    font-weight: 400;
    font-style: italic;
    color:#767776;
    font-size: 0.976vw;
}
.star{
    display: inline-block;
}
.star::before{
    font-family: 'icomoon';
    content: "\f005";
    color: #f2da3b;
}
.stars{
    text-align: center;
    margin-top: 27px;
    word-spacing: 3px;
}
.controlLeft,.controlRight{
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
    width: 53px;
    height: 53px;   
}
.arrowLeft::before{
    font-family: 'icomoon';
    content: "\f053";
}
.arrowRight::before{
    font-family: 'icomoon';
    content: "\f054";
}
.arrows{
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    margin-top: -55px;
}
.controlLeft{
    margin-right: 27px;
    position: relative;
    cursor: pointer;
}
.arrowLeft{
    position: absolute;
    top: 55%;
    left: 32%;
    font-size: 19px;
    transform: translateY(-50%);
}
.controlRight{
    position: relative;
    cursor: pointer;
}
.arrowRight{
    position: absolute;
    top: 55%;
    left: 38%;
    font-size: 19px;
    transform: translateY(-50%);
}
.blueColor{
    background-color:#71f6eb;
}
.activeVisible,.nextName{
    display: block;
}
.nextName{
    position: absolute;
    top:0;
    width: 100;
}
.logotips{
    margin-top: 112px;
}
.first-line__logo{
    display: flex;
    align-items: center;
}
.second-line__logo{
    margin-top: 37px;
}
.logo_RKO{
    margin-left: 33.7%;
}
.logo_audioPro{
    margin-left: 6.71%;
}
.logo_infinity{
    margin-left: 6%;
}
.logo_sport{
    margin-left: 10.8%;
}
.logo_swan{
    margin-left: 5.6%;
}
.logo_swanser{
    margin-left: 5.7%;
}
.second-line__logo .logo_audioPro{
    margin-left: 6%;
}
.second-line__logo .logo_infinity{
    margin-left: 5.6%;
}
.second-line__logo .logo_RKO{
    margin-left: 5.42%;
}
.form__map{
    background-image: url('../assets/images/back_contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 704px;
}
.form__content{
    width: 615px;
    background-color: rgb(2, 22, 35);
    opacity: 0.71;
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
}
.map__content{
    width: 500px;
    background-color: rgb(2, 22, 35);
    opacity: 0.71;
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    margin-left: 26px;
}
.form__box{
    max-width: 580px;
    width: 100%;
    padding-top: 17px;
    padding-left: 31px;
    padding-bottom: 38px;   
}
.form__box input,
.form__box textarea{
    display: block;
    width: 100%;
}
.form__box input{
    outline: none;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    padding: 0 4px;
    color:#fff;
    margin-top:10px
}
.form__box .email_input{
    margin-top: 8px;
}
.form__box textarea{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 29px 4px;
    height: 135px;
    background: transparent;
    resize: none;
    color:#fff;
    margin-bottom: 37px;
}
.form__box input[type="text"]::-webkit-input-placeholder{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    line-height: 3.4;
}
.form__box textarea::-webkit-input-placeholder{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.6);
}
.submit_btn{
    border-radius: 2px;
    background-color: rgb(110, 238, 228);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.702);
    text-transform: uppercase;
    line-height: 1.556;
    border:none;
    padding: 13px 37px;
    letter-spacing: 1.8px;
    cursor: pointer;
}
#map{
    max-width: 455px;
    // width: 100%;
    height: 224px;
    margin-top: 20px;
    margin-left: 22px;
}
.form__map-iner{
    display: flex;
    padding-top: 239px;
    padding-bottom: 124px;
    justify-content: center;
}
.map__content li,.map__content a{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.6;
}
.map__content ul{
    margin-top: 30px;
    margin-left: 31px;
}
.map__content li:nth-child(5){
    margin-top: 23px;
}
.footer {
    background-color: rgb(38, 43, 46);
}
.follow{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.563; 
    font-weight: 400;
    text-transform: uppercase;
    margin:0;
    text-align: center;
    padding-top: 88px;
}
.pinterest_network a::before{
    font-family: 'icomoon';
    content: "\f231";
}
.facebook_network a::before{
    font-family: 'icomoon';
    content: "\f09a";
}
.twitter_network a::before{
    font-family: 'icomoon';
    content: "\f099";
}
.dribbble_network a::before{
    font-family: 'icomoon';
    content: "\eaa7";
}
.social_networks{
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 148px;
}
.pinterest_network{
    background: rgb(110, 238, 228) !important;
    opacity: 1 !important;
}
.social_networks li{
    background-color: rgb(138, 138, 138);
    opacity: 0.4;
    width: 46px;
    height: 40px;
    position: relative;
    cursor: pointer;
}
.social_networks a{
    position: absolute;
    top: 55%;
    left: 33%;
    font-size: 19px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}
.dribbble_network{
    margin-left: 7px;
}
.twitter_network{
    margin: 0 9px;
}
.pinterest_network a{
    color:#070e0d;
}
@media (max-width:890px) {
    .button__contact{
        display: block;
    }
    .image__glass{
        float:none;
        margin-top: 42px;
        margin-right: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
@media (max-width:1130px) {
    .slider__article {
        flex-direction: column;
        align-items: center;
    }
    .slider{
        margin-left: 0;
    }
    .text_arctile {
        max-width: none;
    }
    .article_slider{
        margin-top:0;
    }
}
@media (max-width:520px) {
    .slider {
        margin-top: 0;
    }
    .shadow_block__slider{
        width: 0;
        height: 0;
    }
    .item-conteiner img{
        width: 100%;
        height: auto;
    }
}
@media (max-width:1135px){
    .click__know-more .know_more{
        margin-top:0;
    }
}
@media (max-width:1080px){
   .six__design,.last_part-of_design{
    grid-template-columns: repeat(1,69.92%);
    grid-template-rows:none;
   }
   .click__know-more .description_desing {
       max-width: none;
   }
}
@media (max-width:590px) {
    .six__design{
        margin-top:40px
    }
    .header__of-design,.second-part__of-design .header__of-design {
        margin-top: 120px;
        margin-left: 0;
        text-align: center;
    }
    .click__know-more .description_desing{
        margin-left: 0;
        text-align: center;
    }
    .second-part__of-design .description_desing{
        margin-left: 40px;
    }
    .first-part__of-design .description_desing {
        margin-left: 40px;
    }
    .first-part__of-design .header__of-design{
        margin-top:120px;
        margin-left: 0;
        text-align: center;
    }
    .description_desing{
        margin-left: 40px;
    }
    
}
@media (max-width:489px){
    .last_part-of_design .know_more{
        margin-top: 33px;
        margin-left: 39px;
        padding-bottom:39px
    }
}
@media (max-width:800px){
    .team_members{
        margin-top: 38px;
    }
}
@media (max-width:705px){
    .image__info:hover{
        .info_member{
            display: none;
        }
    }
    .team_members{
        grid-template-columns: repeat(2, 41.7%);
        grid-template-rows: none;
    }
}
@media (max-width:1260px){
      .box{
        display: none;
    }
}

@media (max-width:1000px){
  
    .slider__article-reviews{
        flex-direction: column;
        align-items: center;
    }
    .slider-reviews {
        margin-left: 0;
        margin-top: 58px;
    }
    .article__name{
        margin-top: 40px;   
    }
    .article_slider-reviews {
        margin-left: 0;
        margin-top: 0;
    }
    .arrows{
        display: none;
    }
    .reviews{
        padding-bottom: 40px;
    }
    .article__name span{
        font-size: 14px;
    }
}
@media (max-width:680px){
    .slider-reviews {
        margin-top: 40px;
    }
    .points-reviews{
        margin-top: 0px;
    }
    .article__name{
        margin-top: 25px;   
    }
    .stars {
        margin-top: 5px;
    }
}
@media (max-width:425px){
    .shadow_block__slider-reviews {
        width: 0;
        height: 0;
    }
}
@media (max-width:1210px){
    .logotips{
        display: none;
    }
    .form__map-iner{
        padding-top:0;
    }
}
@media (max-width:1180px){
    .form__map-iner{
        padding-bottom:30px;
        flex-direction: column;
        align-items: center;
    }
    .map__content{
        margin-top: 30px;
        margin-left: 0;
        max-width: 834px;
        width: 100%;
    }
    .form__content {
        max-width: 830px;
        width: 100%;
    }
    .form__box {
        max-width: 668px;
        padding-left: 129px;
    }
    #map{
        max-width: none; 
        width: none;
        margin-right: 22px;
        margin-bottom: 10px;
    }
    
}
@media(max-width:840px){
    .form__box {
        max-width: none;
        padding-left: 0;
    }
    .follow{
        padding-top: 40px;
    }
    .social_networks{
        padding-bottom: 30px;
    }
}